.center{
    text-align: center;
    border: 0.4rem solid white;
    background-color: red;
    font-weight: bold;
    color: green;
    border-radius: 1rem;
}

body{
    background-color: black;
}

div>h1{
    margin-top: 0px;
}

